---
layout: archive
title: "Books and Stationery"
permalink: /books/
author_profile: true
---
<table style="width:100%; border-collapse:collapse; margin:30px 0;border: 0px;">
  <tr style="border: 0px;">

    <!-- Left: Book Cover -->
    <td style="width:250px; padding-right:25px; vertical-align:top; border: 0px;">
      <img src="/images/doriangray.jpeg" 
           alt="doriangray" 
           style="border: 0px;"
        >
    </td>

    <!-- Right: Text -->
    <td style="vertical-align:top; border: 0px;">
      <div style="color:#777; font-size:0.8rem; letter-spacing:2px; margin-bottom:6px;">
        The Picture of Dorian Gray
      </div>
      <div style="color:#777; font-size:0.8rem; letter-spacing:2px; margin-bottom:6px;">
        By Oscar Wilde
      </div>

      <div style="font-size:1.6rem; font-weight:bold; margin-bottom:8px;">
       ..
      </div>

      <div style="font-size:1rem; color:#444;">
        ..
      </div>
    </td>

  </tr>
</table>

<!-- {% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>
Dark gothic academia_ The picture of Dorian gray by Oscar Wilde
{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %} -->
