@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&family=Tangerine:wght@400;700&display=swap');
body, p, ul, ol, li {
  font-family: "Cormorant Garamond", serif;
  background-color: #cac7b9;
}

a, h1, h2, h3, h4, h5, h6 {
  font-family: "Tangerine", cursive;
  font-weight: 900 ;
  font-style: bold ;

}
/* === Sidebar font override === */

.sidebar,
.sidebar *,
.author__bio,
.author__content,
.nav__list,
.nav__list *,
.nav__sub-title,
.nav__list a {

  font-family: "Cormorant Garamond", serif;
  font-size: 24px;
  font-style: normal ;
  font-weight: normal;
  background-color: transparent;
}
.author__name {
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: bold ;
}
.page__content li>a{
  font-family: "Cormorant Garamond", serif;
  background-color: #cac7b9;
  font-style: normal ;
  font-weight: normal;

}
.books td {
  font-family: "Cormorant Garamond", serif;
  background-color: transparent;
  font-style: normal ;
  font-weight: normal;
}
.author__urls li.author__desktop,
.author__urls li.author__desktop *,
.author__urls li.author__desktop a,
.author__urls li.author__desktop span,
.author__urls li.author__desktop i {
  font-family: "Cormorant Garamond", Garamond, serif !important;
  font-style: normal !important;
  font-weight: 400 !important;
}
.author__content,
.author__urls-wrapper,
.author__desktop,
.author__urls {
  font-family: "Cormorant Garamond", Garamond, serif;
}
.author__name {
  font-family: "Tangerine", cursive;
  font-weight: 900;
  font-style: bold ;
}
